embarkation {
  .post-container {
    margin: 0 0 0 1.5rem;
    overflow: auto;
  }
  .post-thumb {
    float: left
  }
  .post-thumb img {
    display: block;
    background-color: #54adad;
    border-radius: 50%;
    max-height: 5rem;
  }
  .post-content {
    margin-left: 1rem;
  }
  .post-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0 0 4rem;
    color: #54adad;
  }
  .post-time{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 0 1rem 4rem;
    color: #b0b0b0;
  }

  .boarding-info{
    font-size: 1rem;
    margin: 0 0 0 4rem;
    color: #b0b0b0;

  }

  .vertical-line {
    border-left: solid #54adad;
    margin-left: 2.3rem;
  }
  .extra-left-margin{
    margin-left: 2.3rem;
  }
}
