<!-- Generated template for the EmbarkationComponent component -->
<div *ngFor="let data of constant_data; let i = index;">
  <ion-row no-padding no-margin>
    <ion-col no-padding no-margin >
      <div class="post-container">
        <div class="vertical-line">
          <br><br>
        </div>
        <div class="post-thumb"><img src={{data.image}}/></div>
        <div [ngClass]="{'vertical-line':i<3, 'extra-left-margin':i===3}" class="post-content">
          <h3 class="post-title">{{data.title}}</h3>
          <h3 class="post-time">{{data.time}}</h3>
          <p class="boarding-info">{{data.description}}</p>
        </div>
      </div>
    </ion-col>
  </ion-row>
</div>
