accordian {
  .card-header{
    background-color: #e3e3e3;
    color: #54adad;
    padding-right: 0;
    margin-right: 0;
    width: 100%;
  }

  .card-content{
    padding: 0 0 0 0;
    max-height: 0px;
  }


}
