<!-- Generated template for the LandingMenuComponent component -->
<div class="customize-height">
    <ion-row>
      <ion-col no-margin no-padding col-6 class="costomize-button" style="background: url('assets/Tabs/1.png')"
      (click)="embarkation()">
        <img class="icon-size" src="assets/imgs/Embarkation.png" alt="">
        <ion-label class="label-text">EMBARKATION</ion-label>
      </ion-col>
      <ion-col no-margin no-padding col-6 class="costomize-button" style="background: url('assets/Tabs/2.png')"
               (click)="disembarkation()">
        <img class="icon-size" src="assets/imgs/Disembarkation.png" alt="">
        <ion-label class="label-text">DISEMBARKATION</ion-label>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col no-margin no-padding col-6 class="costomize-button" style="background: url('assets/Tabs/3.png')">
      <img class="icon-size" src="assets/imgs/Security.png" alt="">
      <ion-label class="label-text">SECCURITY</ion-label>
    </ion-col>
    <ion-col no-margin no-padding col-6 class="costomize-button" style="background: url('assets/Tabs/4.png')">
      <img class="icon-size" src="assets/imgs/Restriction.png" alt="">
      <ion-label class="label-text">RESTRICTION</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col no-margin no-padding col-6 class="costomize-button" style="background: url('assets/Tabs/5.png')"
    (click)="parking()">
      <img class="icon-size" src="assets/imgs/Parking.png" alt="">
      <ion-label class="label-text">PARKING</ion-label>
    </ion-col>
    <ion-col no-margin no-padding col-6 class="costomize-button" style="background: url('assets/Tabs/6.png')">
      <img class="icon-size" src="assets/imgs/Documents.png" alt="">
      <ion-label class="label-text">DOCUMENTS</ion-label>
    </ion-col>
  </ion-row>
</div>
