landing-menu {


  .costomize-button{

    height: 19.5vh;
  }

  .icon-size{
    width: 14vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.2vh;
  }

  .label-text{
    color: #54adad;
    font-size: 1.1rem;
    text-align: center;
  }

}
