page-embarkation {

  .hero-card{
    width: 100%;
  }
  .hero-image{
    width: 100%;
    height: auto;

  }

  .card-title {
    opacity: 0.8;
    position: absolute;
    top: 90%;
    font-size: 1.5em;
    width: 100%;
    color: #ffffff;
    background:#416662;
  }
  .card-title.custom-card-title-over-hero-img{
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0%,-100%);
    -webkit-transform: translate(0%,-100%);
    -moz-transform: translate(0%,-100%);
    -o-transform: translate(0%,-100%);
    -ms-transform: translate(0%,-100%);
  }

  .documents{
    width: 100%;
    height: 65vh;
    margin-top: 5vh;
    position: relative;
    text-align: center;
    background: #54adad;
  }

  .centered {
    color: white;
    font-weight: bold;
    font-size: large;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .passport{
    width: 38vw;
    display:block;
    margin:auto;
    padding-top: 9vh;
  }
  .photo-image{
    width: 35vw;
  }

  .label-text{
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  //.column {
  //  float: left;
  //  width: 33.33%;
  //  padding: 5px;
  //
  //}
  //
  ///* Clear floats after image containers */
  //.row::after {
  //  content: "";
  //  clear: both;
  //  display: table;
  //}



}
