// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/montserrat/montserratMedium.woff2");
}

* {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
}

.app-icon-height img {
    height: 4.5vh;
}
.back-button-icon-ios {
    padding-left: 40%;
}
.alert-ios .alert-sub-title {
    font-size: 1.3rem;
}
.alert-sub-title {
    padding-top: 3%;
}

.back-button-icon-ios {
    font-size: 1.2em;
    color: #c8c7cc;
}

.modal-back-button {
    padding-left: 1%;
}
.modal-back-button button ion-icon {
    color: #929294;
}

.alert-ios .alert-button:last-child {
    font-weight: lighter;
}

ion-input {
    color: #404040;
    input {
        letter-spacing: normal;
    }
}
