page-parking-transport {

  ion-card {
    position: relative;
    text-align: center;
  }

  .hero-card{
    width: 100%;
  }
  .hero-image{
    width: 100%;
    height: 25vh;

  }

  .card-title {
    position: absolute;
    top: 25%;
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    font-weight: bold;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .card-button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .parking-image{
    margin-top: 3vh;
    width: 100%;
    height: auto;
  }


}
